<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task 1</title>
  <link rel="stylesheet" href="../css/task-1.css">
</head>

<body>
  <div class="conteiner">
    <a href="../index.html">Back to home</a>
    <ul class="gallery">
      <!-- <li class="gallery-item">
        <a class="gallery-link" href="">
          <img class="gallery-image" src="" alt="Image description" />
        </a>
      </li> -->
    </ul>
  </div>
  <script type="module">
    var lightbox = new SimpleLightbox('.gallery a', { /* options */ });
  </script>
  <script type="module" src="../js/task-1.js"></script>
</body>

</html>